@font-face {
  font-family: "UTM Avo";
  font-weight: 400;
  src: local("UTM Avo"), url("../fonts/UTM_Avo.ttf") format("truetype");
}

@font-face {
  font-family: "UTM Avo";
  font-weight: 700;
  src: local("UTM Avo"), url("../fonts/UTM_AvoBold.ttf") format("truetype");
}

@font-face {
  font-family: "UTM Avo";
  font-weight: 600;
  src: local("UTM Avo"), url("../fonts/UTM_AvoBold.ttf") format("truetype");
}

body {
  font-family: "UTM Avo", sans-serif;
}

.overlay_bg {
  position: fixed;
  inset: 0;
  background: #1414149e;
  cursor: pointer;
}

.menu-header {
  max-width: 1500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  overflow-y: auto;
}

.btn-disable  {
  filter: grayscale(1);
}

@media screen and (max-width: 1023px) {
  .menu-header {
    flex-direction: column;
    justify-content: start;
    position: fixed;
    left: 0;
    height: 100vh;
    background: #e8376c;
    width: 85%;
    padding: 20px;
    transform: translate(-100%, 0);
    transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .menu-header__active {
    transform: translate(0, 0);
  }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: white;
  background: #ff7da4;
  border-radius: 10px;
}
.menu-header::-webkit-scrollbar {
  width: 10px;
}

.menu-header::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: white;
  background: #ff7da4;
  border-radius: 10px;
}